:root {
  --mybackgroundcolor: #242424;
  --myfontcolor: #ffffff;
  --mynavbordercolor: #8ff0a4;
  --myhovercolor: #78aeed;
  --regularbuttoncolor: #4a90d9;
  --mydanger-bg-color: #c01c28;

  --mygreen: #33d17a;
  --flathubs-celestial-blue: #4A90D9;
  --myaccentcolor: var(--mygreen);
  --mynavbordercolor: var(--myaccentcolor);
  --mygray1: #5e5c64;
}


html {
  margin: 0;
  padding: 0;
  /*background-color: var(--mybackgroundcolor);*/

  background-color: var(--mybackgroundcolor);
  color: var(--myfontcolor);
}

* {
  box-sizing: border-box;
  ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
  height: 100%;
  max-width: 1200px;
  padding: 2em;
  margin: auto;
  max-width: 1100px;
  min-height: 80vh;
  text-rendering: optimizeSpeed;
  background-color: var(--mybackgroundcolor);
}


.navbarcontainer {

  background-color: #1d1d1d;
  display: flex;
  /* or inline-flex */
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  margin: 0px;
  padding: .5em 1em 0.5em 1em;
  border: 3px solid var(--mynavbordercolor);

}

.navbarcontainer> :last-child {
  flex: 1 1 50%;
}

.lightercolor {
  background-color: #363636;
}


.cardscontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.card {
  padding: 1em;
  /*margin: 0 0 1em 1em;*/

  /*TODO: make this inherit the parent's background color*/
  /* this creates a hidden border separating the cards */
  border: 2px solid var(--mybackgroundcolor);
  /* this could be used if it was desirable to have all cards a single card, with a border separating them, like flathub does
  border-width: 0 0 0 10px; */
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s ease;
}

.card:hover {
  scale: 1.02;
}


.cardscontainer:last-child {
  flex: 1 1 50%;
  text-align: center;
}

nav li,
nav p,
nav a {
  list-style: none;
  /* aplicando sobre os elementos da nav*/
  display: inline-block;
  font-weight: 700;
}

a:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease
}

a {
  color: inherit;
  transition: opacity 0.6s ease;
  font-weight: 500;
}


/*coisos arredondados (inspirados no flathub.org)*/
.rounded {
  border-radius: .25rem
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: .5rem
}

.rounded-md {
  border-radius: .375rem
}

.rounded-sm {
  border-radius: .125rem
}

.rounded-xl {
  border-radius: 0.75rem;
}



.font-bold {
  font-weight: 700
}

.font-extrabold {
  font-weight: 800
}

.h-5 {
  height: 1.25rem
}

.h-6 {
  height: 1.5rem
}

.h-7 {
  height: 1.75rem
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

.bg-regularbutton {
  background-color: var(--regularbuttoncolor);
}

.bg-dangerbutton {
  background-color: var(--mydanger-bg-color);

}

.bg-mygreen {
  background-color: var(--mygreen);
}

.text-accentcolor {
  color: var(--myaccentcolor)
}

.display-flex {
  display: flex;
}

.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.averagebutton {
  padding: .5em;
  flex: 0 1 3em;
  margin: .3em;
}

.unifiedcardscontainer {
  flex-direction: row;
  gap: 0px;
}

.unifiedcard:not(:last-child):not(:first-child) {
  border-left: 1px solid var(--myaccentcolor);
  border-right: 1px solid var(--myaccentcolor);
  border-top: 0;
  border-bottom: 0;
}



.unifiedcard:first-child {
  border-right: 0;
}



.flexcontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  height: 15em;
  width: 15em;
}



.genericbutton {
  text-align: center;
  color: var(--myfontcolor);
  opacity: 1;
  transition: all 0.s ease;
  transition: opacity 0.3s easet;
}

.genericbutton:hover {
  opacity: 0.75;
  scale: 1.01;
  transition: all 0.2s ease;
  transition: opacity 0.3s ease;
}


.spoiler {
  opacity: 0.7;
  background-color: var(--mygray1);
  transition: all 0.3s ease;
}

.spoiler:hover {
  color: var(--myfontcolor);
  background-color: var(--mybackgroundcolor);
  transition: all 0.3s ease;
}

.border-0 {
  border: 0
}

.margin-0 {
  margin: 0
}

.flex-grow-0 {
  flex-grow: 0
}


.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start
}

/*magic ahead: makes a barra colapsar e wrapar quando a resolucao é < 300*/
@media all and (max-width: 720px) {
  .navbarcontainer {
    flex-wrap: wrap;
    gap: .2em;
  }

  .cardscontainer {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }

  .card {
    margin: 4px;
  }


}

@media all and (max-width: 420px) {
  .navbarcontainer>li {
    flex: 1 1 50%;
  }

  .navbarcontainer>span {
    flex: 1 1 50%;
  }

  .navbarcontainer>li {
    flex: 1 1 100%;
  }
}